BasedOnStyle: Microsoft
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Attach
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: Never
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: Align
ColumnLimit: 100
BinPackArguments: false