BasedOnStyle: Microsoft
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Attach
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: WithoutElse
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 80