build/
.vscode/

.idea/

cmake-build-debug/

.vs/
/CMakeSettings.json
/enc_temp_folder/
.idea/

cmake-build-debug/.cmake/api/v1/query/

cmake-build-debug/.cmake/api/v1/reply/

cmake-build-debug/

resources/output*.png
resources/images/
temp/
report.*
log.*

*.log
test.txt

*.rsl
refal/*.txt
refal/*.dot
refal/R_input.tex